@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    flex-direction: column;
    background-color: rgb(147, 165, 115);
    overflow: hidden;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(81, 126, 81);
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
    user-select: none;
}

header > img {
    display: flex;
    height: 5rem;
    -webkit-user-drag: none;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
}

section {
    display: flex;
}

button {
    cursor: pointer;
    background-color: hsl(120, 100%, 25%);
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

button:hover {
    background-color: greenyellow;
}

button.disabled {
    pointer-events: none;
    cursor: none;
    background-color: hsl(120, 10%, 42%);
}

#user {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user > div {
    display: flex;
    height: fit-content;
    width: 240px;
    flex-direction: column;
}

#user > div > * {
    display: flex;
    flex-grow: 1;
    padding: 10px;
}

#user > div > input {
    background-color: hsl(120, 28%, 81%);
}

#messages {
    height: 100%;
    width: 100%;
    background-color: rgb(203, 212, 186);
    overflow-x: hidden;
    overflow-y: scroll;
}

#messages-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

#messages-list > li {
    display: flex;
    height: fit-content;
    margin-bottom: 25px;
}

#messages-list > li > div {
    display: flex;
    height: fit-content;
    background-color: aliceblue;
    flex-direction: column;
    min-width: 150px;
}

#messages-list > li > div > h4 {
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    margin-bottom: 5px;
    padding: 5px 10px;
}

#messages-list > li > div > h6 {
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: 5px;
    padding: 2px 4px;
}

#messages-list > li > div > p {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    padding: 5px 10px;
}

#messager {
    flex-grow: 1;
    padding: 5px 10px;
    align-items: center;
}

#messager > div {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#messager > div > button {
    margin: 5px;
}

#messager > span {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#messager > span > textarea {
    display: flex;
    flex-grow: 1;
    height: 100px;
    padding: 10px;
    resize: none;
    background-color: hsl(120, 28%, 81%);
}

#messager > span > button {
    display: flex;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-left: 10px;
}

.message-send {
    justify-content: end;
}

.message-received {
    justify-content: start;
}

.message-system {
    justify-content: center;
}

.hidden {
    display: none;
}