@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --color-dark: rgb(21, 32, 21);
    --color-light: rgb(147, 165, 115);
    --color-mid: rgb(81, 126, 81);
    --color-lighter: rgb(203, 212, 186);
    --color-full: hsl(120, 100%, 25%);
    --color-lumen: greenyellow;
    --color-blindme: rgb(0, 255, 34);
    --color-cold: hsl(120, 10%, 42%);
    --color-blank: hsl(120, 28%, 81%);
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    flex-direction: column;
    
    background-color: var(--color-lighter);
    overflow: hidden;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 1px 1px 5px black;
    color: var(--color-light);
    background-color: var(--color-dark);
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
    user-select: none;
}

header > .logo {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

header > .logo > img {
    display: flex;
    height: 5rem;
    -webkit-user-drag: none;
}

header > .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

header > .user > button {
    margin-right: 25px;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
}

header > .user > button > span {
    font-size: 3rem;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
}

section {
    display: flex;
}

button {
    cursor: pointer;
    background-color: var(--color-full);
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: var(--color-lumen);
}

button:hover > span {
    color: var(--color-dark);
}


button.disabled {
    pointer-events: none;
    cursor: none;
    background-color: var(--color-cold);
}

button > i {
    margin-top: 2px;
}

#user {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user > div {
    display: flex;
    height: fit-content;
    width: 240px;
    flex-direction: column;
}

#user > div > * {
    display: flex;
    flex-grow: 1;
    padding: 10px;
}

#user > div > input {
    background-color: var(--color-blank);
}

#messages {
    height: 100%;
    width: 100%;
    /*  */
    overflow-x: hidden;
    overflow-y: scroll;
    
    scrollbar-width: thin;
}

#messages-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

#messages-list > li {
    display: flex;
    height: fit-content;
    margin-bottom: 25px;
}

#messages-list > li > div {
    display: flex;
    height: fit-content;
    /* background-color: aliceblue; */
    flex-direction: column;
    min-width: 150px;
}

#messages-list > li > div > h4 {
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    margin-bottom: 5px;
    padding: 5px 10px;
}

#messages-list > li > div > h6 {
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: 5px;
    padding: 2px 4px;
}

#messages-list > li > div > p {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    padding: 5px 10px;
}

#messager {
    flex-grow: 1;
    padding: 5px 10px;
    align-items: center;
    background-color: var(--color-light);
}

#messager > div {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#messager > div > button {
    margin: 5px;
}

#messager > span {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#messager > span > textarea {
    display: flex;
    flex-grow: 1;
    height: 100px;
    padding: 10px;
    resize: none;
    background-color: var(--color-blank);
}

#messager > span > button {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-left: 10px;
}

#messager > span > button > span {
    font-size:48px;
}

.message-send {
    justify-content: end;
}

.message-received {
    justify-content: start;
}

.message-system {
    justify-content: center;
}

#logs {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

#logs-list {
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

#logs-list > li {
    animation-name: --fadein;
    opacity: 0;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
}

#logs-list > li.fadeout {
    animation-name: --fadeout;
    opacity: 1;
}

.modal {
    position: relative;
    cursor: default;
}

.modal > .blocker {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.158);
}

.modal > .content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-dark);
    padding: 20px;
    padding-right: 5px;
    flex-direction: column;
}

.modal.bottom > .content {
    top: unset;
    bottom: 0;
}

.modal.right > .content {
    left: unset;
    right: 0;
}

.modal.vertical > .content {
    flex-direction: row;
}

.emojis > .content > nav {
    display: flex;
    width: 100%;
    height: 4.5rem;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
}

.emojis > .content > nav > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin-bottom: 5px;
}

.emojis > .content > div {
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
}

.emojis ul {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    height: fit-content;
}

.emojis li {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2px;
    margin-top: 2px;
}

.emojis li > button {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.userlist > .content {
    background-color: var(--color-light);
    padding: 5px;
}

.userlist > .content > div {
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    scrollbar-width: thin;
    /* background-color: var(--color-dark); */
}

.userlist ul {
    display: flex;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    height: fit-content;
}

.userlist ul > li {
    display: flex;
    flex-grow: 1;
    background-color: var(--color-dark);
    height: fit-content;
    padding: 10px;
    margin: 5px;
}

.userlist .username {
    color: var(--color-blindme);
    font-size: medium;
    font-weight: 700;
}

.hidden {
    display: none;
}

@keyframes --fadein {
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}