.ChatSelector {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    gap: 2px;
    user-select: none;
    box-sizing: border-box;
    background-color: var(--color-light1);
    border-right: 1px solid var(--color-dark1);
    overflow: hidden;
    /* border: 1px solid var(--color-dark1); */
    /* border-radius: 8px 0px 0px 8px; */
}

.ChatSelector > h3 {
    display: flex;
    justify-content: center;
    margin: 0;
    color: var(--color-dark1);
    padding: 12px;
}

.ChatSelector > .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4px 4px;
    border-top: 1px solid var(--color-dark1);
    gap: 4px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--color-light0);
}

.ChatSelector > .content::-webkit-scrollbar {
    background-color: var(--color-light0);
    width: 5px;
}

.ChatSelector > .content::-webkit-scrollbar-thumb {
    background-color: var(--color-light2);
    width: 5px;
}

.ChatOption {
    display: flex;
    width: 100%;
    background-color: var(--color-light1);
    color: var(--color-dark1);
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    gap: 10px;
    transition: .3s ease-in-out;
    filter:grayscale(100%);
}

.ChatOption:hover, .ChatOption.active {
    background-color: var(--color-dark2);
    color: var(--color-grow1);
}

.ChatOption.online {
    filter:grayscale(0%);
}

.ChatOption > span {
    width: 100%;
    box-sizing: border-box;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}