.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Header .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.Header h1 {
    text-transform: uppercase;
}